<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-inline') do |f| %>

  <%= f.input :email, autofocus: true, autocomplete: "email" %>
  <%= f.input :password, label: 'Mot de passe', autocomplete: "current-password" %>

  <% if devise_mapping.rememberable? -%>
    <%=  f.input :remember_me, as: :boolean %>
  <% end -%>

  <%= f.button :submit, value: "#{f.object.new_record? ? 'Valider' : 'Mettre à jour'}", class: "btn btn-primary" %>

<% end %>

<%= render "pharmacists/shared/links" %>
