<h2>Créer mon compte Médecin</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-inline') do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, autofocus: true, autocomplete: "email" %>
  <%= f.input :password, label: 'Mot de passe', autocomplete: "new-password" %>
  <%= f.input :password_confirmation,  label: 'Confirmation de mot de passe', autocomplete: "new-password" %>
  <%= f.button :submit, value: "#{f.object.new_record? ? 'Valider' : 'Mettre à jour'}", class: "btn btn-primary" %>

<% end %>

<%= render "doctors/shared/links" %>
